@font-face {
  font-family: 'Adwaita Mono';
  src: url('font/AdwaitaMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adwaita Mono';
  src: url('font/AdwaitaMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Adwaita Mono';
  src: url('font/AdwaitaMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Noto Sans Mono';
  src: url('font/NotoSansMono-Var.woff2') format('woff2');
  font-weight: 100 900;
}


::selection {
  background-color: #000;
  color: #fff;
}

/* All links will be blue by default */
a:link {
  color: #000;
}

/* Links turn purple after being visited */
a:visited {
  color: #555;
}

/* Links turn red when you hover over them */
a:hover {
  color: #aaa;
}


.button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-auto-flow: row;
  place-items: center;
}


.new-section {
  margin-top: 2vh;
}

.button-list li {
  border: #000 0.36vh solid;
  height: 7vh;
}


.repo-info-divisor {
  border-top: #000;
}
.repo-info {
  margin-top: 24vh;
  width: 100%;
}


.mpd-scrobbler-button-list {
  margin-top: 0.8vh;
}

.mpd-scrobbler-button-list li:not(:first-child) {
  margin-top: 3vh;
}

.mpd-scrobbler-button-list li {
  width: 32vh;
  margin-right: 1vh;
}

.button-list li p {
  margin-left: 7.1vh;
  margin-top: 1.35vh;
  width: 75%;
  font-size: 3.5vh;
  
}

.button-list li img {
  padding: 1vh;
  float: left;

  width: 5vh;
}


.l-45-r-55 {
  width: 100%;
}

.l-45-r-55 .l { float: left; width: 45%; } .l-45-r-55 .r {float: right; width: 55%}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 14px;
}



body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


.mobile {
  display: none;
}

:root {
  --main-col: #000;
}

body {
  justify-content: center;
  align-items: center;
  
  color: var(--main-col);

  font-family: 'Adwaita Mono';
  font-weight: normal;
}

.desktop {
  --border-width: 0.3vh;

  border: var(--border-width) #000 solid;
  padding: 1vh;
  width: 90.6vh;

  height: 85vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;
}

.right {
  float: right;
}

.intro {
  padding-top: 2.3vh;
  overflow: auto;
  height: fit-content;
}

.intro > :nth-child(2) {
  padding-left: 2vh;
  width: 32.5vh;
}

.intro > :nth-child(3) {
  width: fit-content;
  border-left:#000 0.84vh solid;
  padding-left: 2.5vh;
}

.intro .pic {
  user-select: none;

  height: 10.6vh;
  padding-left: 9.4vh;
  float: left;
}

.intro .entry {
  float: left;
}

.intro .entry .desc img {
  user-select: none;
  float: left;
  height: 2.5vh;
  padding-top: 0.3vh;
  padding-right: 1.2vh;
}

.intro .name {
  font-size: 3.72vh;
  font-weight: bold;
}

.intro .desc {
  font-size: 2.4vh;
  font-weight: normal;
}


.full-size {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.centered-va {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 3.72vh;
  font-weight: bold;

  padding-bottom: 1.2vh;
  margin-bottom: 2.4vh;
  border-bottom: #000 0.84vh solid;
  width: fit-content;
}

.centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

p {
  font-size: 2.35vh;
  font-weight: normal;

  margin-bottom: 0;
}



.separator-a {
  margin: 3vh 0;

  margin-right: 66%;
  border-bottom: #000 0.84vh solid;
}

.entry-a {
  padding-top: 4vh;
  height: max-content;
}

.entry-a img {
  
  float:left;
  height: 15vh;

  margin-right: 1.1vh;
}

.entry-a h3 {
  margin: 0;
  line-height: 3.18vh;

  position: relative;
  top:-0.6vh;

  font-size: 2.5vh;
  font-weight: bold;
}

.entry-a p {
  position: relative;

  top:-0.6vh;
  margin: 0;
  font-size: 2.1vh;
  line-height: 2.6vh;
  width: 100%;
}


.thanks-music-row,
.thanks-game-row,
.thanks-music-row-unfinished,
.thanks-game-row-unfinished {
  margin-top: 3vh;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  width:100%;
}

.thanks-music-row img,
.thanks-game-row img,
.thanks-music-row-unfinished img,
.thanks-game-row-unfinished img {
  display: block;
  height: 10.5vh;
  border: #000 0.1vh solid;
}

.thanks-game-row img,
.thanks-game-row-unfinished img {
  border: #00000000 0.1vh solid;
}

.thanks-music-row-unfinished {
  width: 70.6%;
}

.thanks-game-row-unfinished {
  width: 56%;
}

.thanks-row-typeswitch {
  margin-top: 4vh;
}


.thanks-quote {

  font-size: 2.3vh;
  font-family: 'Noto Sans Mono';
  font-style: italic;
  font-weight: 500;

  width: fit-content;
  margin-left: 15.5vh;
  margin-right: auto;

}

.thanks-quote-author {

  font-size: 1.8vh;
  font-family: 'Noto Sans Mono';
  
  width: fit-content;
  margin-left: 15.5vh;
  margin-right: auto;
}

.thanks-finish {
  margin-top: 7vh;

  margin-bottom: 3vh;
  height: 5vh;
  width: fit-content;


  margin-left: auto;
  margin-right: auto;
}

.thanks-finish img {
  height: 5vh;
 float: left;
}

.thanks-finish p {
  line-height: 1.4vh;
  font-family: 'Noto Sans Mono';
  margin-left: 1vh;
  font-size: 1.8vh;
  float: left;
}


.go-back {
  font-size: 2.4vh;
  position: absolute;
  top: 0;
}

.section {
  margin-top: 2.4vh;
}

.section .header {
  font-size: 3.72vh;
  font-weight: bold;

  padding-bottom: 1.2vh;
  margin-bottom: 2.4vh;
  border-bottom: #000 0.84vh solid;

  width: fit-content;
}

.project {
  border: #000 0.36vh solid;
  width: 42vh;

  height: 13.8vh;
}

.project .icons {
  user-select: none;

  float: right;

  margin-top: 0.48vh;
  margin-right: 0.6vh;
}

.project .icons img {
  float:left;
  width: 2.16vh;
  margin-left: 0.6vh;
}

.project .title {
  margin-top:5%;
  margin-left:5%;
  
  font-weight: bold;
  font-size: 2.4vh;
}

.projects-row {
  width: 100%;
  overflow: auto;
}

.left {
  float: left;
}

.project .desc {
  margin-left:2.1vh;
  margin-top:2%;

  font-size: 1.8vh;
  font-style: italic;
}

.platforms a {
  user-select: none;

  font-size: 0;
}

.platforms > :not(:first-child) {
  padding-left: 3vh;
}

.platforms a img {
  height: 12vh;
}

/* misc section */

.miscs {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.miscs li {
  font-size: 2.4vh;
  font-weight: bold;

  position: relative;
  padding-left: 3.6vh;
  white-space-collapse: collapse;
}

.miscs > :not(:first-child) {
  margin-top: 1.2vh;
}

.miscs li span {
  font-size: 1.8vh;
  font-style: italic;
  font-weight: normal;
}

.miscs li::before {
  content: "";

  position: absolute;
  left: 1.08vh;
  top: 0.96vh;

  width: 1.2vh;
  height: 0.96vh;
  background: black;
}

a {
  pointer-events: all;

}

.overlays {
  user-select: none;
  
  pointer-events: none;
  padding: 1vh;
  width: 90.6vh;
  height: 85vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlays .mail {
  display: none;
}

.overlays .site {
  position: absolute;
  bottom: -1.35vh;
  right: 5vh;

  padding: 0 1vh;

  font-size: 2vh;

  background-color: white
}

#saosin-easter {
  display: none;

  /* https://codepen.io/sosuke/pen/Pjoqqp how do you even come up with this */
  filter: invert(43%) sepia(0%) saturate(1180%) hue-rotate(177deg) brightness(91%) contrast(77%) opacity(12%);

  width:40vh;

  position:absolute;
  bottom:5vh;
  right:5vh;
}