@import "universal.css";

:root {
  --border-width-slim: 0.3vw;

  --border-width: 0.5vw;
  
  --border-width-meaty: 0.70vw;
  --border-width-thick: 1.55vw;
}

.main {
  display: block;

  height: 85vh;
  padding: 3vw;
  width: 85vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;
}

.scrollbar-outer {
  position: absolute;
  top: -4vw;
  right: -4%;
  width: 2%;
  height: calc(101.5% + 4.65vw);
}

.overlays {
  pointer-events: none;
  display: block;

  height: 85vh;
  padding: 3vw;
  width: 85vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlays .site {
  position: absolute;
  bottom: -2vw;
  right: 5vw;

  padding: 0 1vw;

  font-size: 3vw;

  background-color: var(--back-col)
}

.mobile-element  { display: block }
.desktop-element { display: none  }